name: Commitlint

on:
  pull_request:
    branches: ['**']

jobs:
  lint-commits:
    runs-on: ubuntu-latest
    steps:
      - name: Commitlint PR title and commit messages
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: commitlint.config.cjs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
